---
import Page from '../layouts/Page.astro';
import img from "../assets/logo.png";
import { Image } from "astro:assets";
---

<Page title="About">
  <div class="flex flex-col bg-white shadow-md rounded-xl p-4 md:p-5 my-6 mx-6 text-lg">
    <Image src={img} loading="eager" class="flex self-center rounded-2xl mb-3" alt="Dojo Speed"/>
    <span class="font-semibold text-xl">Dojo Speed <span class="font-normal text-lg">v.1.0.0</span>
    </span>
    <span class="mt-2">
      Dojo (dalam bahasa jepang yg artinya tempat latihan) speed (kecepatan) jadi secara keseluruhan dojo speed adalah wadah atau tempat bagi pelatih maupun atlet untuk memperoleh latihan kecepatan khusus beladiri karate.
    </span>
      <span class="mt-2">
        Tujuan dibuat aplikasi untuk mempermudah pelatih dan atlet mendapatkan model latihan kecepatan, program latihan kecepatan dan instrument tes kecepatan khusus beladiri karate.
      </span>
    <span class="mt-2">Author : Maria Herlinda Dos Santo</span>
    <span>Email : <a href="mailto:mariaherlindasantos@gmail.com" class="font-sm underline text-blue-500">mariaherlindasantos@gmail.com</a></span>
    </div>
</Page>