---
import Page from '../layouts/Page.astro';
---

<Page title="About">
  <div class="flex flex-col bg-white shadow-md rounded-xl p-4 md:p-5 my-5 mx-6 text-lg">
    <span class="font-semibold text-xl">Dojo Speed <span class="font-normal text-lg">v.1.0.0</span>
    </span>
    <span>Author : Maria Herlinda Dos Santo</span>
    <span>Email : <a href="mailto:mariaherlindasantos@gmail.com" class="font-sm underline text-blue-500">mariaherlindasantos@gmail.com</a></span>
    </div>
</Page>