---
import { Image, Picture } from "astro:assets";
import img1 from "../assets/carousel-1.png";
import img2 from "../assets/carousel-2.png";
import img3 from "../assets/carousel-3.png";
---

<!-- Slider -->
<div data-hs-carousel=`{
    "loadingClasses": "opacity-0",
    "isAutoPlay": true
  }` class="relative mx-8 mt-16 shadow-md rounded-lg">
  <div class="hs-carousel relative overflow-hidden w-full min-h-[150px] bg-white rounded-lg">
    <div class="hs-carousel-body absolute top-0 bottom-0 start-0 end-0 flex flex-nowrap transition-transform duration-700 opacity-0">
      <div class="hs-carousel-slide">
        <div class="flex justify-center h-full">
          <Image src={img1} loading="eager" alt="Pencak Silat" />
        </div>
      </div>
      <div class="hs-carousel-slide">
        <div class="flex justify-center h-full">
          <Image src={img2} loading="eager" alt="Pencak Silat" />
        </div>
      </div>
      <div class="hs-carousel-slide">
        <div class="flex justify-center h-full">
          <Image src={img3} loading="eager" alt="Pencak Silat" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider -->