---
import Page from "../../layouts/Page.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/carousel-1.png";
---

<Page title="Model Latihan">
  <div
    class="flex flex-col bg-white shadow-md rounded-xl px-4 py-6 my-5 mx-4 overflow-y-auto gap-4"
  >
    <span class="mx-2 font-semibold text-xl text-slate-700 -mb-2"
      >Video Pengantar</span
    >
    <div class="flex flex-col bg-white shadow-md rounded-2xl gap-2 bg-cover">
      <iframe
        title="Youtube"
        class="w-full rounded-2xl"
        height="200"
        src="https://www.youtube.com/embed/Gifm7ZTogXI"
        allow="encrypted-media"
        allowfullscreen></iframe>
    </div>

    <span class="mx-2 font-semibold text-xl text-slate-700 -mb-2 mt-1"
      >Materi</span
    >

    <a href="model_latihan/page1"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >1. Kombinasi Sprint dan Tsuki</span
        >
      </div>
    </a>

    <a href="model_latihan/page2"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >2. Age Uke + Nidan Tsuki</span
        >
      </div>
    </a>

    <a href="model_latihan/page3"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >3. Ude Uke + Nidan Tsuki</span
        >
      </div>
    </a>

    <a href="model_latihan/page4"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >4. Kombinasi Tangkisan (1 hitungan 3 tangkisan dalam 1 kali nafas)</span
        >
      </div>
    </a>

    <a href="model_latihan/page5"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >5. Kombinasi Sprint & Tendangan</span
        >
      </div>
    </a>

    <a href="model_latihan/page6"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >6. Variasi Gerakan Angkat Kaki + Maegeri (Drill + Maegeri)</span
        >
      </div>
    </a>

    <a href="model_latihan/page7"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >7. Variasi Angkat Kaki + Mawashi Geri</span
        >
      </div>
    </a>

    <a href="model_latihan/page8"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >8. Posisi Kamae Gerakan Maegeri 3x dalam 1 hitungan</span
        >
      </div>
    </a>

    <a href="model_latihan/page9"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >9. Posisi Kamae Gerakan Mawashi 3x dalam 1 hitungan</span
        >
      </div>
    </a>

    <a href="model_latihan/page10"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >10. Lempar Bola: Menghindar + Menyerang Tsuki</span
        >
      </div>
    </a>

    <a href="model_latihan/page11"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >11. 4 Penjuru Mata Angin + Tsuki</span
        >
      </div>
    </a>

    <a href="model_latihan/page12"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >12. Menangkap Bola Bekel</span
        >
      </div>
    </a>

    <a href="model_latihan/page13"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >13. Sentuhan Tangan 1 kali hingga 2 kali selanjutnya Pukulan</span
        >
      </div>
    </a>

    <a href="model_latihan/page14"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >14. Gerakan 4 Penjuru Mata Angin + Tsuki dan Geri</span
        >
      </div>
    </a>

    <a href="model_latihan/page15"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >15. Gerakan 4 Penjuru Mata Angin + Geri</span
        >
      </div>
    </a>

    <a href="model_latihan/page16"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >16. Sentuhan Kaki 1 kali hingga 3 kali selanjutnya Menendang</span
        >
      </div>
    </a>
     
    <a href="model_latihan/page17"
      class="active:text-blue-300 bg-gray-200 hover:bg-slate-700 rounded-2xl inline-flex items-center w-full font-semibold text-start text-slate-700 hover:text-gray-200 py-3 px-4 disabled:opacity-50 disabled:pointer-events-none"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 size-6"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z"
          clip-rule="evenodd"></path>
      </svg>
      <div class="flex flex-col">
        <span class="text-start ms-2 text-lg"
          >17. Sentuhan Tangan dan Kaki 1 kali selanjutnya Memukul dan Menendang</span
        >
      </div>
    </a>
  </div>
</Page>
