---
import Page from "../../layouts/Page.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/page/page13.jpg";
---

<Page title="Model Latihan">
  <div
    class="flex flex-col bg-white shadow-md rounded-xl px-4 py-6 my-5 mx-4 overflow-y-auto gap-4"
  >
    <span class="mx-2 font-semibold text-xl text-slate-700 -mb-2"
      >Sentuhan Tangan 1 kali hingga 2 kali selanjutnya Pukulan
      </span
    >
    <div class="flex flex-col bg-white shadow-md rounded-2xl gap-2 bg-cover">
      <iframe
        title="Video"
        class="w-full rounded-2xl"
        height="200"
        src="https://drive.google.com/file/d/1RmU4av149FI1dPpM4JDA2ogSvTLWDhgg/preview"
        allow="encrypted-media"
        allowfullscreen></iframe>
    </div>

    <span class="mx-2 font-semibold text-xl text-slate-700 -mb-2 mt-1"
      >Penjelasan</span
    >

    <div class="pb-4 px-5 text-lg">
      <p class="text-lg">
        Cara melakukan gerakan:
        <ol>
          <li>
            1) Atlet pada posisi kamae.
          </li>
          <li>
            2) Pemberi sensor sentuhan berdiri di belakang atlet dan siap menyentuh bagian tangan atau bahu atlet.
          </li>
          <li>
            3) Saat petugas memberikan sensor dari sentuhan maka dengan waktu reaksi yang sangat singkat atlet segera mengeluarkan pukulan (tsuki) 1 hingga 2 pukulan (sesuai perintah pelatih) 
            Setelah memberikan reaksi melalui pukulan maka atlet kembali ke posisi semula.            
          </li>
        </ol>
      </p>
      <Image src={img1} loading="lazy" alt="Dojo Speed" class="w-full"/>
      <p class="text-lg">
        Latihan ini dikembangkan untuk mendapatkan latihan kecepatan reaksi atlet yang lebih efektif, disamping itu diberikan program latihan sesuai kebutuhan atau target untuk mencapai kecepatan reaksi maksimal. Hal ini akan terlihat hasilnya ketika atlet bertanding. 
      </p>
    </div>
  </div>
</Page>
