---
import Page from "../../layouts/Page.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/page/page6.jpg";
---

<Page title="Model Latihan">
  <div
    class="flex flex-col bg-white shadow-md rounded-xl px-4 py-6 my-5 mx-4 overflow-y-auto gap-4"
  >
    <span class="mx-2 font-semibold text-xl text-slate-700 -mb-2"
      >Variasi Gerakan Angkat Kaki + Maegeri (Drill + Maegeri)
      </span
    >
    <div class="flex flex-col bg-white shadow-md rounded-2xl gap-2 bg-cover">
      <iframe
        title="Video"
        class="w-full rounded-2xl"
        height="200"
        src="https://drive.google.com/file/d/1RLOaUlunMtg5CCZaFKlO-5zTneVDM3u3/preview"
        allow="encrypted-media"
        allowfullscreen></iframe>
    </div>

    <span class="mx-2 font-semibold text-xl text-slate-700 -mb-2 mt-1"
      >Penjelasan</span
    >

    <div class="pb-4 px-5 text-lg">
      <p class="text-lg">
        Cara melakukan gerakan:
        <ol>
          <li>
            1) Atlet dengan posisi kamae.
          </li>
          <li>
            2) Ketika pelatih memberikan aba-aba maka atlet melakukan gerakan drill ditambahkan gerakan maegeri. Banyaknya repetisi dan set disesuaikan dengan program latihan yang dibuat oleh pelatih. Drill dilakukan sesuai titik yang ditentukan oleh pelatih seperti gambar di bawah. 
          </li>
          <li>
            3) Atlet kembali ke posisi awal. 
          </li>
        </ol>
      </p>
      <Image src={img1} loading="lazy" alt="Dojo Speed" class="w-full"/>
      <p class="text-lg">
        Gerakan ini lebih banyak melatih kaki dengan tujuan memperoleh kecepatan tendangan yang maksimal atlet. Pada gerakan ini variasi ditentukan oleh pelatih agar atlet tidak merasa bosan saat melalukan gerakan ini.  
      </p>
    </div>
  </div>
</Page>
