---
import img from "../assets/logo-trans.png";
import { Image } from "astro:assets";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Dojo Speed" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-blue-50">
	  <header class="flex flex-wrap w-full bg-slate-700 text-sm py-4 shadow-md">
	    <nav class="max-w-[85rem] w-full flex items-center justify-center">
	      <Image src={img} loading="eager" class="size-[42px]" alt="Dojo Speed"/>
	      <a class="text-2xl mx-2 font-bold text-white" href="/">DOJO SPEED
	      </a>
	      <Image src={img} loading="eager" class="size-[42px]" alt="Dojo Speed"/>
	    </nav>
	  </header>
	  
		<slot />
		
		<script src="../../node_modules/preline/dist/preline.js"></script>
	</body>
</html>