---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Pencak Silat</title>
	</head>
	<body class="bg-blue-50">
	  <header class="flex flex-wrap w-full bg-slate-100 text-sm py-2 shadow-md">
	    <nav class="max-w-[85rem] w-full mx-auto px-4 flex flex-wrap basis-full" aria-label="Global">
        <button type="button" onclick="history.back()" class="py-2 px-3 inline-flex items-center gap-x-2 text-xl font-semibold rounded-lg border border-transparent bg-slate-700 text-white hover:bg-slate-800">
          <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
          </svg> Back
        </button>
        
        <div class="ms-4 flex items-center font-semibold text-lg text-slate-700">
        {title}
        </div>
      </nav>
    </header>
	  
		<slot />
		
		<script src="../../node_modules/preline/dist/preline.js"></script>
	</body>
</html>